/* Global Style */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Bagian 1 */
.section-one {
    background: lightblue;
}

.section-one h2 {
    color: navy;
    padding-left: 20px;
}

/* Bagian 2 */
.section-two h2 {
    text-align: center;
}

.section-two .time {
    display: block;
    text-align: right;
}

.section-two .content {
    text-align: justify;
}

/* Bagian 3 */
.section-three .font-serif {
    font-family: "Times New Roman", Times, serif;
}

.section-three .font-sans {
    font-family: Arial, Helvetica, sans-serif;
}
